{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
      <link rel="stylesheet" href="{% static 'announcement_style.css' %}">
    <style>
             .hidden {
        display: none;
    }
        </style>
</head>
    <body>
        {% include "header.html" %}
         <div class="center"><h1 class="heading">{% if request.user.is_superuser %}Create Events {% else %}Events{% endif %}</h1> </div>
          {% if request.user.is_superuser %}
{#           input fields for admin#}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                {{ ResourceForm.title }}
            </div>
            <div>
                {{ ResourceForm.description }}
                <p> Links: {{ ResourceForm.url }}</p>
            </div>

            <div>
                <p style="text-align: left; padding-left: 2.5%">{{ ResourceForm.files }}     <button type="submit">Post</button></p>
            </div>
        <div class="hidden">
        {{ ResourceForm.role }}
    </div>
     <br>
                    <hr class="separator">
        </form>

     {% endif %}
     <div class="announcement-content">
    {% for resource in Resources %}
         <div class="row">
                <h2>{{ resource.title }}</h2>
                 <p style="text-align: center">{{ resource.description }}</p>
           {% if resource.url %}
                    <div class="center">
                    <a href="{{ resource.url }}"> {{ resource.url }}</a></div>
           {% endif %}
                 {% if resource.files %}
                      <div class="center">
                    <a href="{{ resource.files.url }}">Download File</a>
                      </div>
                {% endif %}
        </div>

        {% if request.user.is_superuser %}
        <form method="post" action="{% url 'delete_event' resource.id %}">
            {% csrf_token %}
            <div style="text-align: center"><button type="submit" onclick="return confirm('Are you sure you want to delete this Highlight?')">Delete</button></div>

        </form>
        {% endif %}

             <br>
                    <hr class="separator">
             {% endfor %}

        </div>



    </body>
</html>